<section class="flex flex-col lg:flex-row gap-8 mt-10">

  <!-- Entrepreneurs List -->
  <div class="bg-white rounded-2xl shadow-sm p-5 md:p-6 lg:p-10 flex-1">
    <h2 class="text-lg font-bold text-gray-700 mb-8">Entrepreneurs</h2>

    <div *ngIf="selectedEntrepreneurs.length > 0; else noEntrepreneurs">
      <!-- Header -->
      <div class="bg-green-100 py-5 px-5 flex gap-10 justify-between items-center text-base font-semibold tracking-wide text-black whitespace-nowrap">
        <div>Nom</div>
        <div>Prénom</div>
        <div>Téléphone</div>
        <div>Email</div>
      </div>

      <!-- Body -->
      <div class="flex flex-col text-base font-medium tracking-wide text-black mt-8">
        <div *ngFor="let entrepreneur of selectedEntrepreneurs" class="flex flex-wrap gap-1 justify-between items-center w-full">
          <div>{{ entrepreneur.nom }}</div>
          <div>{{ entrepreneur.prenom }}</div>
          <div>{{ entrepreneur.telephone }}</div>
          <div>{{ entrepreneur.email }}</div>
        </div>
      </div>
    </div>

    <!-- Template for when there are no entrepreneurs -->
    <ng-template #noEntrepreneurs>
      <div class="text-center text-gray-500 mt-10">
        <p>Aucun entrepreneur disponible pour le moment.</p>
      </div>
    </ng-template>
  </div>

  <!-- Sous Domaines -->
  <div class="bg-white rounded-2xl shadow-sm p-5 lg:p-10 w-full lg:w-1/4">
    <div class="flex flex-col gap-6">
      <div class="flex justify-between items-center mb-6">
        <h2 class="text-lg font-bold text-gray-700">Sous domaine de {{ selectedDomaineName }}</h2>
        <a class="text-teal-700 text-5xl">
          <i class="fas fa-plus-square"></i>
        </a>
      </div>

      <div *ngIf="sousDomaines.length > 0">
        <!-- Sous Domaine Items -->
        <div *ngFor="let sousDomaine of sousDomaines" class="flex flex-col md:flex-row gap-6 mb-6">
          <div class="flex items-start gap-5">
            <img [src]="sousDomaine.image ? 'storage/' + sousDomaine.image : 'default-image-url.jpg'" alt="Image" class="w-8 h-8 object-cover" loading="lazy">
            <div (click)="showEntrepreneurs(sousDomaine.id)" class="text-sm font-bold text-gray-700 cursor-pointer">
              {{ sousDomaine.nom }}
            </div>
          </div>
          <div class="text-sm font-bold text-orange-400 self-center">
            {{ sousDomaine.entrepreneurs?.length || 0 }} inscrits
          </div>
        </div>
      </div>
      <div *ngIf="sousDomaines.length === 0" class="text-center text-gray-500 mt-10">
        <p>Aucun sous-domaine disponible pour le moment.</p>
      </div>
    </div>
  </div>
</section>
