<header class="flex shadow-lg justify-between items-center bg-white p-4 text-black">
  <h1 class="text-xl ml-10">Logo Kaay</h1>
  <div class=" items-center flex ">
    <a href="#" class="flex items-center py-6 px-4  bold hover:text-green-700 rounded">
      ACCUEIL
    </a>
    <a href="#" class="flex items-center py-6 px-4  bold hover:text-green-700 rounded">
      Guides
    </a>
    <a href="#" class="flex items-center py-6 px-4  bold hover:text-green-700 rounded">
      Evenements
    </a>
    <a href="#" class="flex items-center py-6 px-4  bold hover:text-green-700 rounded">
      Forums
    </a>
  </div>
  <div class="flex items-center space-x-4 mr-12">

    <button class=" border-green-700 rounded-full border px-5  py-2">
      <a href="">Amadou Barro</a>

    </button>
  </div>

</header>
<div class="container">
    <app-categorie 
      [categories]="categories" 
      (categorieSelected)="onCategorieSelected($event)">
    </app-categorie>
  
    <app-domaine 
      [categorieId]="selectedCategorieId !== null ? selectedCategorieId : 0" 
      (domaineSelected)="onDomaineSelected($event)">
    </app-domaine>
  
    <app-sous-domaine 
      [domaineId]="selectedDomaineId !== null ? selectedDomaineId : 0">
    </app-sous-domaine>
  </div>
  