<div class="Desktop w-96 h-96 relative bg-stone-50">
  <div class="SectionCharts w-96 h-52 left-[322px] top-[175px] absolute">
    <div class="MediumEarnings2 w-96 h-52 left-0 top-0 absolute rounded-2xl">
      <div class="Label w-36 h-5 left-[70px] top-[58px] absolute text-slate-100 text-sm font-medium font-['Inter'] leading-normal">Entrepeneurs inscrits</div>
      <div class="Cash left-[102px] top-[78px] absolute text-slate-100 text-4xl font-bold font-['Inter'] leading-10">10 000</div>
      <div class="OnTrack left-[102px] top-[120px] absolute justify-start items-start gap-1 inline-flex">
        <div class="Valid w-3.5 h-3.5 pl-px pr-0.5 pt-px pb-0.5 bg-orange-400 rounded-3xl justify-center items-center flex">
          <div class="Done w-2.5 h-2.5 relative flex-col justify-start items-start flex"></div>
        </div>
        <div class="Incrits w-16 h-3.5 text-orange-400 text-sm font-bold font-['Inter'] leading-7">incrits</div>
      </div>
    </div>
    <div class="SmallEarnings w-64 h-24 left-[335px] top-[53px] absolute bg-slate-50 rounded-2xl">
      <div class="Label w-28 h-6 left-[91.21px] top-[20px] absolute text-emerald-700 text-sm font-medium font-['Inter'] leading-normal">Guides</div>
      <div class="Cash w-36 h-8 left-[91.21px] top-[43px] absolute text-emerald-700 text-2xl font-bold font-['Inter'] leading-loose">100</div>
      <div class="Icon w-14 h-14 left-[17px] top-[20px] absolute">
        <div class="Shadow w-14 h-14 left-0 top-0 absolute bg-violet-50 rounded-full"></div>
        <div class="Icon w-8 h-8 left-[11.53px] top-[11.72px] absolute"></div>
      </div>
    </div>
    <div class="SmallNewClients w-64 h-24 left-[672px] top-[56px] absolute bg-slate-50 rounded-2xl">
      <div class="Label w-28 h-6 left-[103px] top-[19px] absolute text-emerald-700 text-sm font-medium font-['Inter'] leading-7">Admin</div>
      <div class="NoClients w-36 h-6 left-[103px] top-[45.58px] absolute text-emerald-700 text-2xl font-bold font-['Inter'] leading-loose">5</div>
      <div class="Group41 w-14 h-14 left-[17px] top-[20px] absolute">
        <div class="Shadow w-14 h-14 left-0 top-0 absolute bg-orange-400 rounded-full"></div>
        <div class="Icon w-7 h-7 left-[14px] top-[14px] absolute">
          <div class="Group w-7 h-7 left-0 top-0 absolute">
          </div>
          <div class="Group w-6 h-5 left-[1.17px] top-[4.67px] absolute">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Dashboard left-[336px] top-[118px] absolute text-black text-xl font-normal font-['Poppins']">Dashboard</div>
  <div class="Group288912 w-64 h-96 left-[-1px] top-[-10px] absolute">
    <div class="Rectangle5695 w-64 h-96 left-0 top-0 absolute bg-white"></div>
    <div class="Group34589 opacity-40 w-36 h-6 left-[51px] top-[957px] absolute">
      <div class="VuesaxBoldLogout w-6 h-6 left-0 top-0 absolute justify-center items-center inline-flex">
        <div class="Logout w-6 h-6 relative">
        </div>
      </div>
      <div class="DConnexion left-[42px] top-[1px] absolute text-black text-lg font-normal font-['ABeeZee']">Déconnexion</div>
    </div>
    <div class="Rectangle1137 w-48 h-12 left-[35px] top-[171px] absolute bg-emerald-700 rounded-lg"></div>
    <div class="Group34582 w-36 h-7 left-[51px] top-[182px] absolute">
      <div class="Dashboard left-[38px] top-0 absolute text-white text-lg font-normal font-['Poppins']">Dashboard</div>
      <div class="VuesaxBoldElement4 w-5 h-5 left-0 top-[2px] absolute justify-center items-center inline-flex">
        <div class="Element4 w-5 h-5 relative">
        </div>
      </div>
    </div>
    <div class="Frame47879 w-40 h-96 left-[42px] top-[268px] absolute flex-col justify-between items-start inline-flex">
      <div class="Group34583 opacity-40 relative">
        <div class="Services left-[38px] top-0 absolute text-zinc-800 text-lg font-medium font-['Poppins']">Services</div>
        <div class="VuesaxBoldCalendar w-5 h-5 left-0 top-[2px] absolute justify-center items-center inline-flex">
          <div class="Calendar w-5 h-5 relative">
          </div>
        </div>
      </div>
      <div class="Group34584 self-stretch grow shrink basis-0 relative">
        <div class="Domaines left-[38px] top-0 absolute text-zinc-800 text-lg font-medium font-['Poppins']">Domaines</div>
        <div class="VuesaxBoldBriefcase w-5 h-5 left-0 top-[2px] absolute justify-center items-center inline-flex">
          <div class="VuesaxBoldBriefcase w-5 h-5 relative">
          </div>
        </div>
      </div>
      <div class="Group34586 opacity-40 w-40 h-72 relative">
        <div class="Entrepreneurs left-[38px] top-0 absolute text-zinc-800 text-lg font-medium font-['Poppins']">Entrepreneurs</div>
        <div class="EvNement left-[38px] top-[193px] absolute text-zinc-800 text-lg font-medium font-['Poppins']">Evènement</div>
        <div class="Forums left-[38px] top-[248px] absolute text-zinc-800 text-lg font-medium font-['Poppins']">Forums</div>
        <div class="VuesaxBoldSms w-5 h-5 left-0 top-[2px] absolute justify-center items-center inline-flex">
          <div class="Sms w-5 h-5 relative">
          </div>
        </div>
        <div class="VuesaxBoldSms w-5 h-5 left-0 top-[193px] absolute justify-center items-center inline-flex">
          <div class="Sms w-5 h-5 relative">
          </div>
        </div>
        <div class="VuesaxBoldSms w-5 h-5 left-0 top-[252px] absolute justify-center items-center inline-flex">
          <div class="Sms w-5 h-5 relative">
          </div>
        </div>
      </div>
      <div class="Group34587 opacity-40 relative">
        <div class="RLe left-[38px] top-0 absolute text-zinc-800 text-lg font-medium font-['Poppins']">Rôle</div>
        <div class="VuesaxBoldProfile2user w-5 h-5 left-0 top-[2px] absolute justify-center items-center inline-flex">
          <div class="Profile2user w-5 h-5 relative">
          </div>
        </div>
      </div>
      <div class="Group34588 opacity-40 relative">
        <div class="ParamTre left-[38px] top-0 absolute text-zinc-800 text-lg font-medium font-['Poppins']">Paramètre</div>
        <div class="VuesaxBoldSetting2 w-5 h-5 left-0 top-0 absolute justify-center items-center inline-flex">
          <div class="Setting2 w-5 h-5 relative">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="FirstCard w-96 h-72 left-[322px] top-[441px] absolute">
    <div class="Rectangle9 w-96 h-72 left-0 top-0 absolute bg-white rounded-2xl shadow"></div>
    <div class="Cards w-96 h-11 left-[16.26px] top-[224.30px] absolute">
      <div class="Items w-20 h-11 left-[345.61px] top-0 absolute">
        <div class="Text w-16 h-9 left-0 top-[2.25px] absolute">
          <div class="Admin left-[26.24px] top-[-0px] absolute text-slate-400 text-xs font-bold font-['Buenard'] leading-tight">Admin</div>
          <div class=" left-0 top-[12.35px] absolute text-gray-700 text-lg font-bold font-['Buenard'] leading-relaxed">3</div>
        </div>
        <div class="Icon w-5 h-4 left-[0.37px] top-[-0px] absolute">
          <div class="Rectangle3 w-5 h-4 left-0 top-0 absolute bg-orange-400 rounded-md shadow"></div>
          <div class="IoniconBBuildDefault w-2.5 h-2 left-[4.62px] top-[4.02px] absolute"></div>
        </div>
      </div>
      <div class="Sales w-20 h-11 left-[230.28px] top-0 absolute">
        <div class="Text w-16 h-9 left-[-0px] top-[2.25px] absolute">
          <div class="Guides left-[26.24px] top-[-0px] absolute text-slate-400 text-xs font-bold font-['Buenard'] leading-tight">Guides</div>
          <div class=" left-0 top-[12.35px] absolute text-gray-700 text-lg font-bold font-['Buenard'] leading-relaxed">60</div>
        </div>
        <div class="Icon w-5 h-4 left-[0.37px] top-[-0px] absolute">
          <div class="Rectangle3 w-5 h-4 left-0 top-0 absolute bg-orange-400 rounded-md shadow"></div>
          <div class="IoniconCCartDefault w-2.5 h-2 left-[4.62px] top-[4.02px] absolute"></div>
        </div>
      </div>
      <div class="Clicks w-20 h-11 left-[115.33px] top-[-0px] absolute">
        <div class="Text w-20 h-9 left-[3.41px] top-[2.25px] absolute">
          <div class="Domaines left-[22.46px] top-0 absolute text-slate-400 text-xs font-bold font-['Buenard'] leading-tight">Domaines</div>
          <div class=" left-0 top-[11.45px] absolute text-gray-700 text-lg font-bold font-['Buenard'] leading-relaxed">3</div>
        </div>
        <div class="Icon w-5 h-4 left-0 top-0 absolute">
          <div class="Rectangle3 w-5 h-4 left-0 top-0 absolute bg-orange-400 rounded-md shadow"></div>
          <div class="IoniconRRocketSharp w-2.5 h-2 left-[4.62px] top-[4.02px] absolute"></div>
        </div>
      </div>
      <div class="Users w-24 h-11 left-0 top-0 absolute">
        <div class="Text w-24 h-9 left-[0.74px] top-[2.25px] absolute">
          <div class="Entreprneurs left-[25.14px] top-0 absolute text-slate-400 text-xs font-bold font-['Buenard'] leading-tight">Entreprneurs</div>
          <div class="000 left-0 top-[12.45px] absolute text-gray-700 text-lg font-bold font-['Buenard'] leading-relaxed">7 000</div>
        </div>
        <div class="Icon w-5 h-4 left-0 top-0 absolute">
          <div class="Rectangle3 w-5 h-4 left-0 top-0 absolute bg-orange-400 rounded-md shadow"></div>
          <div class="IoniconWWalletDefault w-2.5 h-2 left-[4.62px] top-[4.02px] absolute"></div>
        </div>
      </div>
    </div>
    <div class="DevenirEntrepreneur left-[15.52px] top-[168.39px] absolute text-gray-700 text-lg font-medium font-['Poppins']">Devenir entrepreneur</div>
    <div class="Graph w-96 h-36 left-[11.83px] top-[10.28px] absolute">
      <div class="Rectangle12 w-96 h-36 left-0 top-0 absolute bg-gradient-to-r from-slate-700 to-gray-900 rounded-xl"></div>
      <div class="Lines w-96 h-24 left-[72.45px] top-[21.53px] absolute">
        <div class="Rectangle13 w-1.5 h-16 left-[-0px] top-[34.71px] absolute bg-white rounded-2xl"></div>
        <div class="Rectangle14 w-1.5 h-11 left-[44.36px] top-[53.02px] absolute bg-white rounded-2xl"></div>
        <div class="Rectangle15 w-1.5 h-6 left-[88.71px] top-[74.23px] absolute bg-white rounded-2xl"></div>
        <div class="Rectangle16 w-1.5 h-14 left-[133.07px] top-[41.45px] absolute bg-white rounded-2xl"></div>
        <div class="Rectangle17 w-1.5 h-24 left-[177.42px] top-0 absolute bg-white rounded-2xl"></div>
        <div class="Rectangle18 w-1.5 h-20 left-[221.78px] top-[17.35px] absolute bg-white rounded-2xl"></div>
        <div class="Rectangle19 w-1.5 h-24 left-[266.13px] top-[5.78px] absolute bg-white rounded-2xl"></div>
        <div class="Rectangle20 w-1.5 h-14 left-[310.49px] top-[41.45px] absolute bg-white rounded-2xl"></div>
        <div class="Rectangle21 w-1.5 h-8 left-[354.85px] top-[66.52px] absolute bg-white rounded-2xl"></div>
      </div>
      <div class="Data w-4 h-24 left-[22.18px] top-[20.24px] absolute">
        <div class=" w-1 h-2.5 left-0 top-[92.87px] absolute text-white text-xs font-bold font-['Buenard'] leading-none">0</div>
        <div class=" left-0 top-[74.55px] absolute text-white text-xs font-bold font-['Buenard'] leading-none">100</div>
        <div class=" left-0 top-[55.91px] absolute text-white text-xs font-bold font-['Buenard'] leading-none">200</div>
        <div class=" left-0 top-[37.28px] absolute text-white text-xs font-bold font-['Buenard'] leading-none">300</div>
        <div class=" left-0 top-[18.64px] absolute text-white text-xs font-bold font-['Buenard'] leading-none">400</div>
        <div class=" left-0 top-0 absolute text-white text-xs font-bold font-['Buenard'] leading-none">500</div>
      </div>
    </div>
  </div>
  <div class="FirstCard w-96 h-72 left-[891px] top-[441px] absolute">
    <div class="Rectangle9 w-96 h-72 left-0 top-0 absolute bg-white rounded-2xl shadow"></div>
    <div class="Cards w-96 h-11 left-[16.26px] top-[224.30px] absolute">
      <div class="Items w-20 h-11 left-[345.61px] top-0 absolute">
        <div class="Text w-16 h-9 left-0 top-[2.25px] absolute">
          <div class="Admin left-[26.24px] top-[-0px] absolute text-slate-400 text-xs font-bold font-['Buenard'] leading-tight">Admin</div>
          <div class=" left-0 top-[12.35px] absolute text-gray-700 text-lg font-bold font-['Buenard'] leading-relaxed">3</div>
        </div>
        <div class="Icon w-5 h-4 left-[0.37px] top-[-0px] absolute">
          <div class="Rectangle3 w-5 h-4 left-0 top-0 absolute bg-orange-400 rounded-md shadow"></div>
          <div class="IoniconBBuildDefault w-2.5 h-2 left-[4.62px] top-[4.02px] absolute"></div>
        </div>
      </div>
      <div class="Sales w-20 h-11 left-[230.28px] top-0 absolute">
        <div class="Text w-16 h-9 left-[-0px] top-[2.25px] absolute">
          <div class="Guides left-[26.24px] top-[-0px] absolute text-slate-400 text-xs font-bold font-['Buenard'] leading-tight">Guides</div>
          <div class=" left-0 top-[12.35px] absolute text-gray-700 text-lg font-bold font-['Buenard'] leading-relaxed">40</div>
        </div>
        <div class="Icon w-5 h-4 left-[0.37px] top-[-0px] absolute">
          <div class="Rectangle3 w-5 h-4 left-0 top-0 absolute bg-orange-400 rounded-md shadow"></div>
          <div class="IoniconCCartDefault w-2.5 h-2 left-[4.62px] top-[4.02px] absolute"></div>
        </div>
      </div>
      <div class="Clicks w-20 h-11 left-[115.33px] top-[-0px] absolute">
        <div class="Text w-20 h-9 left-[3.41px] top-[2.25px] absolute">
          <div class="Domaines left-[22.46px] top-0 absolute text-slate-400 text-xs font-bold font-['Buenard'] leading-tight">Domaines</div>
          <div class=" left-0 top-[11.45px] absolute text-gray-700 text-lg font-bold font-['Buenard'] leading-relaxed">3</div>
        </div>
        <div class="Icon w-5 h-4 left-0 top-0 absolute">
          <div class="Rectangle3 w-5 h-4 left-0 top-0 absolute bg-orange-400 rounded-md shadow"></div>
          <div class="IoniconRRocketSharp w-2.5 h-2 left-[4.62px] top-[4.02px] absolute"></div>
        </div>
      </div>
      <div class="Users w-24 h-11 left-0 top-0 absolute">
        <div class="Text w-24 h-9 left-[0.74px] top-[2.25px] absolute">
          <div class="Entreprneurs left-[25.14px] top-0 absolute text-slate-400 text-xs font-bold font-['Buenard'] leading-tight">Entreprneurs</div>
          <div class="000 left-0 top-[12.45px] absolute text-gray-700 text-lg font-bold font-['Buenard'] leading-relaxed">3 000</div>
        </div>
        <div class="Icon w-5 h-4 left-0 top-0 absolute">
          <div class="Rectangle3 w-5 h-4 left-0 top-0 absolute bg-orange-400 rounded-md shadow"></div>
          <div class="IoniconWWalletDefault w-2.5 h-2 left-[4.62px] top-[4.02px] absolute"></div>
        </div>
      </div>
    </div>
    <div class="CreeMonEntreprise left-[15.52px] top-[168.39px] absolute text-gray-700 text-lg font-medium font-['Poppins']">Cree mon entreprise</div>
    <div class="Graph w-96 h-36 left-[11.83px] top-[10.28px] absolute">
      <div class="Rectangle12 w-96 h-36 left-0 top-0 absolute bg-gradient-to-r from-slate-700 to-gray-900 rounded-xl"></div>
      <div class="Lines w-96 h-24 left-[72.45px] top-[21.53px] absolute">
        <div class="Rectangle13 w-1.5 h-16 left-[-0px] top-[34.71px] absolute bg-white rounded-2xl"></div>
        <div class="Rectangle14 w-1.5 h-11 left-[44.36px] top-[53.02px] absolute bg-white rounded-2xl"></div>
        <div class="Rectangle15 w-1.5 h-6 left-[88.71px] top-[74.23px] absolute bg-white rounded-2xl"></div>
        <div class="Rectangle16 w-1.5 h-14 left-[133.07px] top-[41.45px] absolute bg-white rounded-2xl"></div>
        <div class="Rectangle17 w-1.5 h-24 left-[177.42px] top-0 absolute bg-white rounded-2xl"></div>
        <div class="Rectangle18 w-1.5 h-20 left-[221.78px] top-[17.35px] absolute bg-white rounded-2xl"></div>
        <div class="Rectangle19 w-1.5 h-24 left-[266.13px] top-[5.78px] absolute bg-white rounded-2xl"></div>
        <div class="Rectangle20 w-1.5 h-14 left-[310.49px] top-[41.45px] absolute bg-white rounded-2xl"></div>
        <div class="Rectangle21 w-1.5 h-8 left-[354.85px] top-[66.52px] absolute bg-white rounded-2xl"></div>
      </div>
      <div class="Data w-4 h-24 left-[22.18px] top-[20.24px] absolute">
        <div class=" w-1 h-2.5 left-0 top-[92.87px] absolute text-white text-xs font-bold font-['Buenard'] leading-none">0</div>
        <div class=" left-0 top-[74.55px] absolute text-white text-xs font-bold font-['Buenard'] leading-none">100</div>
        <div class=" left-0 top-[55.91px] absolute text-white text-xs font-bold font-['Buenard'] leading-none">200</div>
        <div class=" left-0 top-[37.28px] absolute text-white text-xs font-bold font-['Buenard'] leading-none">300</div>
        <div class=" left-0 top-[18.64px] absolute text-white text-xs font-bold font-['Buenard'] leading-none">400</div>
        <div class=" left-0 top-0 absolute text-white text-xs font-bold font-['Buenard'] leading-none">500</div>
      </div>
    </div>
  </div>
  <div class="NavbarVariant2 w-96 h-24 left-0 top-0 absolute">
    <div class="Rectangle6697 w-96 h-24 left-[272px] top-0 absolute bg-emerald-700"></div>
    <div class="BienvenueAdmin left-[290px] top-[28px] absolute text-white text-2xl font-bold font-['Poppins']">Bienvenue , Super admin</div>
    <div class="Notification w-10 p-2.5 left-[1155px] top-[25px] absolute bg-slate-800 rounded-md justify-center items-center gap-64 inline-flex">
      <div class="Notification w-5 h-5 justify-center items-center flex">
        <div class="Group w-5 h-5 relative">
          <div class="Ellipse26 w-1 h-1 left-[14px] top-[1px] absolute bg-orange-500 rounded-full border border-gray-800"></div>
        </div>
      </div>
    </div>
    <div class="Profile left-[1243px] top-[25px] absolute justify-start items-center gap-2.5 inline-flex">
      <div class="Name justify-start items-center gap-4 flex">
        <div class="ProfileImage w-10 h-10 relative">
          <div class="Rectangle21 w-10 h-10 left-0 top-0 absolute rounded-lg border border-orange-400"></div>
          <div class="Rectangle22 w-8 h-8 left-[3px] top-[3px] absolute bg-amber-100 rounded-md"></div>
          <div class="MaskGroup w-7 h-8 left-[5px] top-[4px] absolute">
            <img class="MemojiBoys21 w-10 h-10 left-[-2.31px] top-[-1.12px] absolute" src="https://via.placeholder.com/39x38" />
          </div>
        </div>
        <div class="Alpha w-16 text-neutral-100 text-base font-bold font-['Source Sans Pro'] leading-normal">Alpha</div>
      </div>
      <div class="Vector8 w-5 h-5 relative"></div>
    </div>
    <div class="Search h-10 px-5 py-2 left-[611px] top-[25px] absolute bg-neutral-200 rounded-lg flex-col justify-start items-start gap-2.5 inline-flex">
      <div class="Title justify-start items-center gap-60 inline-flex">
        <div class="Recherche w-36 text-slate-400 text-sm font-bold font-['Source Sans Pro'] leading-snug">Recherche</div>
        <div class="SearchIcon w-5 h-5 px-px pb-px justify-center items-center flex">
          <div class="Group4 w-5 h-5 relative">
            <div class="Ellipse27 w-4 h-4 left-0 top-0 absolute rounded-full border-2 border-slate-400"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Group288924 w-96 h-72 left-[341.29px] top-[754px] absolute">
    <div class="Rectangle123 w-96 h-72 left-[10.71px] top-0 absolute bg-emerald-700"></div>
  </div>
</div>
