<main class="flex-1 mx-4 md:mx-10 p-4 md:p-6">
  <!-- Statique -->
  <section class="my-6 md:my-10">
    <p class="text-lg font-semibold mb-4 md:mb-6">Dashboard Admin</p>
    <div class="flex flex-col lg:flex-row gap-6">
      <!-- Section des entrepreneurs -->
      <div class="bg-[#007461] justify-between w-full h-44 rounded-[20px] p-6 flex flex-col lg:flex-row items-center">
        <div class="relative flex flex-col justify-center px-10 md:px-20">
          <div class="block ml-6 md:ml-12">
            <!-- Catégorie -->
            <div class="text-slate-100 text-[28px] md:text-[34px] font-bold mb-2">
              {{ category?.nom }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Domaines -->
  <section class="guide w-full my-6 md:my-10">
    <div class="flex justify-between">
      <h2 class="text-lg font-semibold mb-4 md:mb-6">Domaines</h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 justify-items-center">
      <!-- Liste des domaines -->
      <div *ngFor="let domaine of domaines" class="flex shadow-lg flex-col rounded-md h-[71px] w-full">
        <div class="px-5 py-6 bg-white rounded-md text-center">{{ domaine.nom }}</div>
      </div>
    </div>
  </section>

  <!-- Sous-domaines et Entrepreneurs -->
  <section class="guide w-full my-6 md:my-10" *ngFor="let domaine of domaines">
    <div class="flex flex-col bg-white rounded-2xl shadow-sm p-5 md:p-6 lg:p-10 mt-6">
      <div class="flex justify-between items-center">
        <div class="text-lg font-bold text-gray-700">Sous-domaines de {{ domaine.nom }}</div>
      </div>

      <div *ngFor="let sousDomaine of domaine.sousDomaines" class="flex flex-col md:flex-row justify-between mt-8 md:mt-6 gap-6">
        <div class="flex items-start gap-5">
          <div class="w-8 h-8 relative">
            <img loading="lazy" src="image-url1" class="object-cover w-full h-full" />
          </div>
          <div class="text-sm font-bold text-gray-700">
            <div class="leading-snug">{{ sousDomaine.nom }}</div>
            <div class="mt-1 text-xs text-slate-400">{{ sousDomaine.description }}</div>
          </div>
        </div>
        <div class="text-sm font-bold text-orange-400 self-center md:self-start">
          {{ sousDomaine.entrepreneurs.length }} inscrits
        </div>
      </div>
    </div>
  </section>
</main>
