<div *ngFor="let guide of guides" class="guide-container">
  <div class="guide-text">
    <h2>{{ guide.titre }}</h2>
    <p>{{ guide.contenu }}</p>
    <p>Date de publication : {{ guide.datepublication | date }}</p>
    <p>Auteur : {{ guide.auteur }}</p>
  </div>
  <div class="guide-image">
    <img [src]="guide.media" alt="{{ guide.titre }}" />
  </div>
</div>

<div class="steps-container">
  <!-- Boutons successifs des cinq étapes -->
  <button class="step-button" *ngFor="let step of steps" (click)="selectStep(step)">
    {{ step }}
  </button>
</div>

<!-- Contenu associé à l'étape sélectionnée -->
<div *ngIf="selectedStep">
  <h2>Contenu pour {{ selectedStep }}</h2>
  <p>Voici le contenu de l'étape {{ selectedStep }}.</p>
</div>

<!-- Liste des ressources -->
<div class="resources-container">
  <h3>Liste des ressources</h3>
  <div *ngFor="let resource of resources" class="resource-item">
    <span>{{ resource.title }}</span>
    <i class="icon" (click)="toggleResourceContent(resource)">&#x25BC;</i> <!-- Icône pour afficher/masquer le contenu -->
    
    <!-- Contenu caché ou visible selon l'état -->
    <div *ngIf="resource.showContent" class="resource-content">
      <p>{{ resource.content }}</p>
    </div>
  </div>
</div>

<!-- Bouton Terminer placé après les ressources -->
<div *ngIf="isLastStepSelected">
  <button (click)="completeGuide()" class="complete-button">Terminer</button>
</div>



<!-- Conteneur pour le champ de commentaire et le bouton -->
<div class="comment-container">
  <textarea [(ngModel)]="newComment" name="comment" placeholder="Ajouter un commentaire..." class="comment-input"></textarea>
  <button (click)="addComment()" class="add-comment-button">Ajouter</button>
</div>

<!-- Liste des commentaires -->
<div *ngFor="let comment of comments" class="comment-item">
  <p>{{ comment }}</p>
</div>



