<form (submit)="addGuide()">
  <input [(ngModel)]="guideData.titre" name="titre" placeholder="Titre">
  <input [(ngModel)]="guideData.contenu" name="contenu" placeholder="Contenu">
  <input [(ngModel)]="guideData.datepublication" name="datepublication" placeholder="Date de publication" type="date">
  <input [(ngModel)]="guideData.media" name="media" placeholder="Media URL">
  <input [(ngModel)]="guideData.auteur" name="auteur" placeholder="Auteur">
  <input [(ngModel)]="guideData.domaine_id" name="domaine_id" placeholder="Domaine ID" type="number">
  <input [(ngModel)]="guideData.user_id" name="user_id" placeholder="User ID" type="number">
  <button type="submit">Ajouter</button>
</form>
