/* Ajoutez ici les styles CSS pour le composant RessourceList */
.step-container {
  margin-bottom: 1rem;
}

.step-group {
  margin-bottom: 1rem;
}

.step {
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.step-number {
  font-weight: bold;
}

.accordion-container {
  margin-top: 1rem;
}

.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
}

.accordion-header {
  cursor: pointer;
  padding: 1rem;
  background-color: #f5f5f5;
}

.accordion-content {
  display: none;
  padding: 1rem;
}

.accordion-content.active {
  display: block;
}
